!!!
%html
  %head
    %link{:rel => "stylesheet", :type => "text/css", :href => "/style.css"}
    %title= "Top 20 Players"

  %body{:onload => "timer=setTimeout('move()', 10000)"}
    %h1== Top 20 Players
    %table.display
      %thead
        %th Name
        %th C-Number
        %th Kills

      - @players.each do |player|
        %tr{:class=>"player"}
          %td= "#{player[:first]} #{player[:last]}"
          %td= "#{player[:cnumber]}"
          %td= "#{player[:kills]}"

%script{:type => "text/javascript"}
  :plain
    var timer = null
    function move() { window.location = '/highscores' }
